/*Основной background: #FFFFFF */
/* Акцент цвет #F7941E */
/* Основной цвет текста #000000 */
/* Лого #231F20 */
/* Второй цвет текста #FFFFFF */
:root {
  --primary-bg-color: #ffffff;
  --logo-color: #231f20;
  --secondary-text-color: #ffffff;
  --accent-color: #f7941e;
  --primary-color: #000000;

  /* Effects */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Main */
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 3px solid green;
}
/* Header */
.header {
  background-color: #fafafa;
}
.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo-link {
  /* display: flex;
  align-items: center; */

  font-family: Homemade Apple, cursive;
  font-size: 18px;
  line-height: 2.16;
  text-align: center;

  color: var(--logo-color);
}
.logo-link:hover,
.logo-link:focus {
  color: var(--logo-color);
}
/* Nav */
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 47px;
}
.list-item:not(:last-child) {
  margin-right: 31px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link {
  display: flex;
  align-items: center;

  font-size: 18px;
  line-height: 1.22;

  color: var(--primary-color);
}

/* Header-buttom */

.button-secondary {
  min-width: 150px;
  display: flex;
  align-items: center;
  padding: 14px 25px 8px 24px;

  border: 1px solid var(--accent-color);
  border-radius: 5px;

  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;

  color: var(--accent-color);
  background-color: #fafafa;
}
/* Hero */
.hero-overlay {
  min-width: 719px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f1f2;
  background-image: url(../image/Background.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
}
.hero-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  font-weight: 400;
  font-size: 56px;
  line-height: 1.23;
}
.hero-text {
  font-size: 20px;
  line-height: 1.4;
}
.hero-button {
  min-width: 150px;
  display: flex;
  align-items: center;
  padding: 14px 25px 8px 24px;

  border: 1px solid var(--accent-color);
  border-radius: 5px;

  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
/* Work */
.work-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: 733px;
  height: 600px;
  background-color: #f1f1f2;
  background-image: url(../image/Media\ Background.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
}
.work-thumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 166px;
}
.work-title {
  margin-bottom: 23px;

  font-size: 32px;
  line-height: 1.4;
}
.work-text {
  margin-bottom: 35px;

  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
}
.work-link {
  color: var(--accent-color);
}
/*   Section Gallery  */
.gallery-div {
  padding-top: 96px;
  padding-bottom: 137px;
}
.gallery-title {
  font-size: 32px;
  line-height: 1.18;
  text-align: center;
}
.gallery-text {
  padding-top: 23px;
  padding-bottom: 63px;

  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.gallery-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-item {
  background-color: #fafafa;
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.gallery-item:hover,
.gallery-item:focus {
  background-color: var(--primary-bg-color);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.gallery-item:not(:last-child) {
  margin-right: 30px;
}
.gallery-wrapper {
  padding: 24px;
}
.gallery-subtitle {
  margin-bottom: 74px;

  font-size: 20px;
  line-height: 1.2px;
}
.more {
  font-size: 14px;
  line-height: 1.35;
}
/* Registry */

.registry {
  background-color: var(--accent-color);
}
.registry-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.registry-wrapper {
  margin-left: 100px;
  padding-top: 81px;
  padding-bottom: 69px;
}

.reg-title {
  font-size: 32px;
  line-height: 1.4;
}
.reg-text {
  font-size: 32px;
  line-height: 1.4;
}
.reg-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reg-button-primary {
  min-width: 150px;
  margin-right: 40px;
  padding: 14px 25px 8px 24px;

  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;

  color: var(--secondary-text-color);
  background-color: var(--primary-color);
}
.reg-button-secondary {
  min-width: 150px;
  margin-right: 100px;
  padding: 14px 25px 8px 24px;

  border: 1px solid var(--accent-color);
  border-radius: 5px;

  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;

  color: var(--primary-color);
}
/* Post */
.posts-title {
  margin-bottom: 23px;
  padding-top: 88px;

  font-size: 32px;
  line-height: 1.18;
  text-align: center;
}
.posts-text {
  padding-bottom: 71px;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
/* Last */

.last-div-thumb {
  padding-top: 63px;
  padding-bottom: 49px;

  background-image: url(../image/img7.jpeg);
  background-color: #231f20;
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
}
.wrapper {
  margin-left: 478px;
}

.last-title {
  font-size: 14px;
  line-height: 1.42;

  color: var(--secondary-text-color);
}
.last-subtitle {
  margin-bottom: 60px;

  font-size: 48px;
  line-height: 1.2;

  color: var(--secondary-text-color);
}
.last-link {
  display: block;
  font-size: 18px;
  line-height: 1.38;

  color: var(--secondary-text-color);
}
.last-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
  margin-bottom: 80px;
}
.last-item {
  padding: 48px;
  width: 570px;
  height: auto;
}
.last-item:first-child {
  margin-right: 30px;
}
.last-item:hover,
.last-item:focus {
  box-shadow: 5px 10px 7px -2px rgba(187, 187, 199, 0.66);
  -webkit-box-shadow: 5px 10px 7px -2px rgba(187, 187, 199, 0.66);
  -moz-box-shadow: 5px 10px 7px -2px rgba(187, 187, 199, 0.66);
}
.last-headline {
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 1.42;
}
.last-text {
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 1.38;

  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}
.headline-link {
  font-size: 14px;
  line-height: 1.42;

  color: var(--primary-color);
}
/* Footer */
.footer {
  background-color: #fafafa;
  padding-top: 115px;
  padding-bottom: 35px;
}
.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-link {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.42;

  color: var(--primary-color);
}

.footer-logo-link {
  display: block;
  text-align: center;
  margin: 0 141px;

  font-family: Homemade Apple, cursive;
  font-size: 18px;
  line-height: 2.16;
  text-align: center;

  color: var(--accent-color);
}
.footer-div::after {
  content: '';
  display: block;
  margin-top: 53px;

  height: 10px;
  background-color: var(--primary-color);
}
