/*Основной background: #FFFFFF */
/* Акцент цвет #F7941E */
/* Основной цвет текста #000000 */
/* Лого #231F20 */
/* Второй цвет текста #FFFFFF */
:root {
  --primary-bg-color: #ffffff;
  --logo-color: #231f20;
  --secondary-text-color: #ffffff;
  --accent-color: #f7941e;
  --primary-color: #000000;
}
/* Main */
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Header */
.header {
  background-color: #fafafa;
}
.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo-link {
  /* display: flex;
  align-items: center; */

  font-family: Homemade Apple, cursive;
  font-size: 18px;
  line-height: 2.16;
  text-align: center;

  color: var(--logo-color);
}
.logo-link:hover,
.logo-link:focus {
  color: var(--logo-color);
}
/* Nav */
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 47px;
}
.list-item:not(:last-child) {
  margin-right: 31px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link {
  display: flex;
  align-items: center;

  font-size: 18px;
  line-height: 1.22;

  color: var(--primary-color);
}

/* Header-buttom */

.button-secondary {
  min-width: 150px;
  display: flex;
  align-items: center;
  padding: 14px 25px 8px 24px;

  border: 1px solid var(--accent-color);
  border-radius: 5px;

  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;

  color: var(--accent-color);
  background-color: #fafafa;
}
/* Hero */
.hero-title {
  font-weight: 900;
  font-size: 56px;
  line-height: 1.23;
}
.hero-text {
  font-size: 20px;
  line-height: 1.4;
}
.hero-button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
/* Work */
.work-title {
  font-size: 32px;
  line-height: 1.4;
}
.work-text {
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
}
.work-link {
  color: var(--accent-color);
}
.gallery-title {
  font-size: 32px;
  line-height: 1.18;
  text-align: center;
}
.gallery-text {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.list-title {
  font-size: 20px;
  line-height: 1.2px;
}
.more {
  font-size: 14px;
  line-height: 1.35;
}
/* Registry */

.registry {
  background-color: var(--accent-color);
}
.reg-title {
  font-family: 900;
  font-size: 32px;
  line-height: 1.4;
}
.reg-text {
  font-size: 32px;
  line-height: 1.4;
}
.reg-button-primary {
  display: flex;
  align-items: center;

  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;

  color: var(--secondary-text-color);
  background-color: var(--primary-color);
}
.reg-button-secondary {
  display: flex;
  align-items: center;

  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-color);
}
.section-title {
  font-size: 32px;
  line-height: 1.18;
  text-align: center;
}
.section-text {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.last-title {
  font-size: 14px;
  line-height: 1.42;

  color: var(--secondary-text-color);
  background-color: var(--primary-color);
}
.last-text {
  font-size: 48px;
  line-height: 1.2;

  color: var(--secondary-text-color);
  background-color: var(--primary-color);
}
.last-link {
  font-size: 25px;
  line-height: 1.38;

  color: var(--secondary-text-color);
  background-color: var(--primary-color);
}
.last-headline {
  font-size: 24px;
  line-height: 1.42;
}
.headline-text {
  font-size: 18px;
  line-height: 1.38;
}
.headline-link {
  font-size: 14px;
  line-height: 1.42;

  color: var(--primary-color);
}
.footer-link {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.42;

  color: var(--primary-color);
}
.footer-logo-link {
  display: flex;
  align-items: center;

  font-family: Homemade Apple, cursive;
  font-size: 18px;
  line-height: 2.16;
  text-align: center;

  color: var(--accent-color);
}
